<!-- BANNER -->
<!-- BANNER -->
<app-nav [fuel_express]="true" [contact_page]="true"></app-nav>
<div class="banner" id="home">
  <!-- <app-nav></app-nav> -->
  <video
    src="../../../assets/images/fuel-express.mp4"
    #video
    [autoplay]="true"
    [muted]="true"
    [playsInline]="true"
    loop
  ></video>

  <button class="btn_play" (click)="startVideoBanner()">
    <span class="icon">
      @if (status_video) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="128"
          height="128"
          viewBox="0 0 24 24"
          fill="none"
          role="img"
          color="CurrentColor"
        >
          <circle
            cx="12"
            cy="12"
            r="10"
            stroke="CurrentColor"
            stroke-width="1.5"
          ></circle>
          <path
            d="M9.5 15.5V8.5L16.5 12L9.5 15.5Z"
            stroke="CurrentColor"
            stroke-width="1.5"
          ></path>
        </svg>
      } @else {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="128"
          height="128"
          viewBox="0 0 24 24"
          fill="none"
          role="img"
          color="CurrentColor"
        >
          <circle
            cx="12"
            cy="12"
            r="10"
            stroke="CurrentColor"
            stroke-width="1.5"
            stroke-linecap="square"
          ></circle>
          <path
            d="M9.5 9L9.5 15M14.5 9V15"
            stroke="CurrentColor"
            stroke-width="1.5"
            stroke-linecap="square"
          ></path>
        </svg>
      }
    </span>
  </button>
</div>

<!-- ABOUT -->
<!-- ABOUT -->
<div class="about p_top_bottom" id="about">
  <div class="about_content container">
    <div class="about_image">
      <img src="../../../assets/images/11.png" alt="" />
    </div>

    <div class="about_info">
      <!-- <div class="title_circle">À propos</div> -->

      <div class="title">
        <h1>Fuel'Express</h1>
      </div>

      <div class="about_tex">
        <p>
          Fuel’Express est une solution innovante de livraison de carburant sur
          site, destinée aux professionnels en RDC et conçue pour sécuriser,
          structurer et professionnaliser l’approvisionnement énergétique en
          milieu urbain.<br />
          <br />
          Elle permet aux entreprises et aux particuliers d’accéder à un
          carburant fiable, livré directement sur leurs sites d’exploitation ou
          de résidence, à travers un dispositif logistique organisé, traçable et
          sécurisé, garantissant continuité d’activité, maîtrise des coûts et
          sérénité opérationnelle.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="fuel_express_section p_top_bottom">
  <div class="fuel_express_section_content section_smart_camion container">
    <div class="fuel_text">
      <div class="title">
        <h1>Nos camions citernes intelligents</h1>
      </div>
      <p>
        Fuel’Express s’appuie sur une flotte moderne de véhicules intelligents
        conçus pour répondre aux exigences les plus strictes du transport et de
        la distribution de carburant. Notre flotte est composée de véhicules
        spécialement adaptés à différents cas d’usage : <br />
        <br />
        • Véhicules légers pour les livraisons urgentes et les volumes limités.
        <br />
        • Camions-citernes pour les livraisons multiples ou les volumes
        supérieurs à 1000 litres.
      </p>
    </div>

    <div class="fuel_image smart_camion">
      <img src="../../../assets/images/13.png" alt="" />
    </div>
  </div>
</div>

<div class="fuel_express_section p_top_bottom">
  <div class="fuel_express_section_content fluel_apps_content container">
    <div class="fuel_text fuel_app_box">
      <div class="title">
        <h1>Notre platforme digitale</h1>
      </div>

      <div class="sub_title">
        <p>
          L ’Applicaton mobile Fuel'Express constitue l'interface opérationnelle
          du service.
        </p>
      </div>
      <p>
        Elle permet aux utilisateurs de commander, suivre et gérer leur
        carburant en toute simplicité, depuis un smartphone ou un terminal
        connecté. <br />
        <br />
        Conçue pour répondre aux besoins des particuliers, des entreprises et
        des équipes opérationnelles, l’application offre une expérience fluide,
        sécurisée et orientée performance.
      </p>

      <div class="sub_title">
        <p>Un service plusieurs usages</p>
      </div>
      <p>
        Déclinée en plusieurs versions, l’application structure l’ensemble de
        l’écosystème et garantit transparence, contrôle et continuité
        énergétique.
      </p>
    </div>

    <div class="fuel_apps">
      <div class="fuel_app">
        <div class="fuel_app_icon">
          <img src="../../../assets/images/app-icon-1.png" alt="" />
        </div>
        <div class="fuel_app_text">
          <div class="name_app">
            <span>Fuel'Express</span>
          </div>
          <p>
            Pour les particuliers et clients simples, avec un accès fluide à la
            commande et au suivi des livraisons.
          </p>
        </div>
      </div>

      <div class="fuel_app">
        <div class="fuel_app_icon">
          <img src="../../../assets/images/app-icon-2.png" alt="" />
        </div>
        <div class="fuel_app_text">
          <div class="name_app">
            <span>Fuel'Express Pro</span>
          </div>

          <p>
            Pour les entreprises et clients corporate, avec des outils avancés
            de contrôle, de reporting et de gestion de la consommation.
          </p>
        </div>
      </div>

      <!-- <div class="fuel_app">
        <div class="fuel_app_icon">
          <img src="../../../assets/images/app-icon-3.png" alt="" />
        </div>
        <div class="fuel_app_text">
          <div class="name_app">
            <span>Fuel'Express Driver</span>
          </div>
          <p>
            Pour les chauffeurs et convoyeurs, an de sécuriser et tracer chaque
            opération de livraison.
          </p>
        </div>
      </div>

      <div class="fuel_app">
        <div class="fuel_app_icon">
          <img src="../../../assets/images/app-icon-4.png" alt="" />
        </div>
        <div class="fuel_app_text">
          <div class="name_app">
            <span>Fuel'Express Dashboard</span>
          </div>

          <p>
            Pour l’administration et la supervision globale du service, avec une
            vision centralisée des opérations et des données.
          </p>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="fuel_express_section pizza_section p_top_bottom">
  <div class="fuel_express_section_content container">
    <div class="fuel_text">
      <div class="title">
        <h1>
          Commandez votre carburant <br />
          comme vous commanderiez une pizza !
        </h1>
      </div>

      <p>
        La version standard de l’application Fuel’Express s’adresse aux
        utilisateurs individuels et aux consommateurs occasionnels souhaitant
        se procurer du carburant de manière simple, rapide et fiable afin de
        préserver leur confort.
      </p>

      <div class="sub_title">
        <p>En quelques clics seulement</p>
      </div>

      <p>
        vous pouvez commander du carburant comme vous commanderiez une pizza et
        être livrés directement sur le lieu de votre choix, sans déplacement
        vers une station-service ni aucune autre contrainte logistique.
      </p>
    </div>

    <div class="fuel_image_pizza"></div>
  </div>
</div>

<div class="fuel_express_pro p_top_bottom">
  <div class="fuel_express_pro_content container">
    <div class="header">
      <img src="../../../assets/images/app-icon-2.png" alt="" />
      <p>Fuel'Express Pro</p>
    </div>

    <div class="body">
      <h1>
        Economisez 20% de votre budget <br />
        Carburant et ré-investissez-le !
      </h1>

      <p>
        Conçue comme un outil de pilotage stratégique de l’approvisionne ment en
        carburant, elle intègre des mécanismes d’analyse avancée et
        d’intelligence arti cielle pour aider les organisations à sécuriser
        leurs opérations, maîtriser leurs coûts et optimiser leur consommation
        énergétique tout en améliorant leur empreinte carbone.
      </p>
    </div>
  </div>
</div>

<div class="fuel_express_section p_top_bottom">
  <div class="fuel_express_section_content fuel_app_pro reverse_flex container">
    <div class="fuel_text fuel_app_feature_text">
      <!-- <div class="title">
        <h1></h1>
      </div> -->
      <!-- <div class="sub_title">
        <p>En quelques clics seulement</p>
      </div> -->
      <p>
        La solution offre des fonctionnalités avancées de
        <strong>
          PLANIFICATION DES LIVRAISONS, DE SUIVI DES VOLUMES, DE REPORTING
          DÉTAILLÉ ET DE CONTRÔLE DES ACCÈS INTERNES
        </strong>
        <br />
        <br />
        Fuel’Express Pro transforme votre gestion du carburant en un PROCESSUS
        STRUCTURÉ, MESURABLE ET AUDITABLE, au service de la performance
        opérationnelle et de la continuité de vos activités.
      </p>
    </div>

    <div class="fuel_app_feature_box">
      <div class="fuel_app_feature_head">
        <img src="../../../assets/images/app-icon-2.png" />
        <h3>Fuel'Express Pro</h3>
      </div>

      <div class="fuel_app_features">
        <div class="feature_card">
          <div class="number">01</div>
          <p>REPORTING ET HISTORIQUE</p>
        </div>

        <div class="feature_card">
          <div class="number">02</div>
          <p>MONITORING DU NIVEAU DE FUEL ET DE LA CONSOMMATION</p>
        </div>

        <div class="feature_card">
          <div class="number">03</div>
          <p>TRACKING EN TEMPS REEL DU CONVOI JUSQU'A LA LIVRAISON</p>
        </div>

        <div class="feature_card">
          <div class="number">04</div>
          <p>NOTIFICATION EN CAS DE CONSOMMATION ANORMALE,FRAUDE, VOL ETC.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- FOOTER -->
<!-- FOOTER -->
<app-footer />
